.courses-title {
  padding-top: 50px 50px;
  margin: 50px 50px;
  text-decoration: underline 6px rgb(228, 101, 54);
}

.courses {
  display: flex;
  flex-direction: column;
}

.course {
  padding: 30px;
}

.course-title:hover {
  cursor: pointer;
  color: rgb(228, 101, 54);
  -webkit-text-stroke: .03em #32082e;
}
